<div class="site-mobile-nav" id="site-mobile-nav" data-mobile-nav tabindex="0">
  <div class="mobile-nav-panel" data-mobile-nav-panel>
    <div class="header-actions-wrapper">
      {% include 'site-header-actions', mobile: true %}
      <a
        class="mobile-nav-close"
        href="#site-header-nav"
        data-mobile-nav-close
      >
        {% include 'icon-library', id: 'icon-burger-close' %}
        <span class="visually-hidden">{{ 'general.accessibility.close' | t }}</span>
      </a>
    </div>

    <div class="mobile-nav-content" data-mobile-nav-content>
      {%
        include 'navmenu',
        menu: section.settings.menu,
        blocks: blocks,
        depth: 1,
        max_depth: 3,
        is_mobile: true
        highlight_item: settings.header_navigation_sale_link_label,
      %}
    </div>

  </div>

  <div class="mobile-nav-overlay" data-mobile-nav-overlay></div>
</div>
