<div class="landingHeader">
  <div class="lLogo">
    <a href="https://www.oz-eliquid.com.au/">
     <img src="https://cdn.shopify.com/s/files/1/1851/9375/t/9/assets/OzELiquidLogo.svg"></a>
  </div>
</div>
<div class="heroWrapper">
  <div class="heroTxt">
    {% section 'landing-text' %}  
  </div>
    <div id="yt-wrap">
      <div id="ytplayer"></div> 
  </div>
</div>
<div class="landingContent"> 

{% section 'landing-about-text' %}  
{% section 'landing-usapart' %}  
{% section 'landing-liquid-range' %}
{% section 'landing-hardware-range' %}    
{% section 'landing-logo-slider' %}  
<!--{% section 'landing-testimonials' %}  -->

</div>

{{content_for_index }}